html {
    width: 100%;
    background: url(./bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    max-width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#clock {
    font-size: 320px;
    color: white;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: -10px;
    text-align: left;
    padding-left: 50px;
}

#clock span {
    font-size: 40%;
}

#date {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 45px;
    margin-top: -60px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
    padding-left: 80px;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

#credits {
    position: fixed;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    width: 100%;
    text-align: center;
}

#buses {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

#west,
#east {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

#west {
    text-align: right;
    padding-right: 20px;
}

#east {
    text-align: left;
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    padding-left: 20px;
}

.arrival {
    vertical-align: top;
    height: 110px;
    font-size: 80px;
    color: white;
    text-align: inherit;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: opacity .6s, height .6s, font-size .6s;
}

.arrival:nth-child(2) {
    opacity: .95;
    height: 84px;
    font-size: 60px;
}

.arrival:nth-child(3) {
    opacity: .85;
    height: 73px;
    font-size: 50px;
}

.arrival:nth-child(4) {
    opacity: .5;
    height: 64px;
    font-size: 40px;
}

.busName {
    vertical-align: top;
    padding: 6px 12px;
    border-radius: 12px;
    display: inline-block;
    font-weight: 700;
}

.delta {
    vertical-align: top;
    padding-top: 6px;
    display: inline-block;
}

.important {
    padding: 6px 12px;
    border-radius: 12px;
    display: inline-block;
    color: #333;
    background-color: rgba(255, 165, 0, 0.8);
    font-weight: 700;
}

.title {
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    color: #777;
    margin-bottom: 20px;
    font-size: 26px;
}

.ti {
    padding: 6px 15px;
    display: inline-block;
    vertical-align: top;
}

.reminder {
    display: inline-block;
    background: url('./alert.svg') no-repeat center center;
    background-size: 40px 40px;
    width: 60px;
    height: 100%;
    opacity: 0.6;
    transition: .2s;
}

.reminder:hover {
    opacity: 1;
}

.on {
    opacity: 1;
}

.blurred {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

#modal {
    z-index: 999;
    position: absolute;
    min-height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

#close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 60px;
    color: white;
    cursor: pointer;
    transition: .3s;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

#close:hover {
    color: red;
}

#minutes {
    position: absolute;
    top: 50%;
    margin-top: -300px;
    height: 600px;
    text-align: center;
    width: 100%;
}

#minutes span {
    font-size: 30px;
    color: #333;
}

#minutes div {
    position: relative;
    margin: 0 auto;
    width: 550px;
}

.alertTime {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    height: 120px;
    padding: 0 120px;
    font-size: 35px;
    line-height: 120px;
    background-color: rgba(255, 255, 255, 0.5);
    outline: 0;
    border: #ccc;
    border-radius: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
    color: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.alertTime:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

#name_holder {
    position: absolute;
    top: 50%;
    margin-top: -225px;
    height: 450px;
    text-align: center;
    width: 100%;
    display: none;
}

#name_holder > div {
    position: relative;
    margin: 0 auto;
    width: 600px;
}

#name {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-bottom: 15px;
    padding: 0 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    text-align: center;
    outline: 0;
    border: 0;
}

#name_holder span {
    font-size: 25px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

#people_buttons {
    margin-top: 15px;
}

.person {
    cursor: default;
    float: auto;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    padding: 0 50px;
    font-size: 22px;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    outline: 0;
    border: #ccc;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.26);
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
}

.person:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

#notifications {
    position: absolute;
    top: 15px;
    text-align: center;
    width: 100%;
}

.notify {
    margin: 0 auto;
    padding: 6px 12px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: none;
    border-radius: 6px;
    position: relative;
}

#good {
    border: 2px solid springgreen;
    color: springgreen;
    background-color: rgba(0, 255, 127, 0.2);
}

#bad {
    border: 2px solid #D41D1D;
    color: #D41D1D;
    background-color: rgba(212, 29, 29, 0.1);
}