html {
    width: 100%;
    background: url(./bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    max-width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#clock {
    font-family: 'Montserrat', sans-serif;
    font-size: 320px;
    color: white;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: -50px;
    text-align: left;
    padding-left: 50px;
}

#clock span {
    font-size: 40%;
}

#credits {
    position: fixed;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    width: 100%;
    text-align: center;
}

#buses {
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

#west,
#east {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

#west {
    text-align: right;
    padding-right: 20px;
}

#east {
    text-align: left;
    border-left: 2px solid rgba(255, 255, 255, 0.6);
    padding-left: 20px;
}

.arrival {
    height: 110px;
    font-size: 80px;
    color: white;
    text-align: inherit;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.arrival:nth-child(2) {
    opacity: .95;
    height: 84px;
    font-size: 60px;
}

.arrival:nth-child(3) {
    opacity: .85;
    height: 73px;
    font-size: 50px;
}

.arrival:nth-child(4) {
    opacity: .5;
    height: 64px;
    font-size: 40px;
}

.arrival > div {
    padding: 6px 12px;
    border-radius: 12px;
    display: inline-block;
    font-weight: 700;
}

.important {
    padding: 6px 12px;
    border-radius: 12px;
    display: inline-block;
    color: #333;
    background-color: rgba(255, 165, 0, 0.8);
}

.title {
    padding: 4px 8px;
    border-radius: 8px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    color: #777;
    margin-bottom: 20px;
    font-size: 26px;
}